.cHeaderContainer {
  position: sticky;
  top: 0;
  z-index: 10;

  padding: 0.5rem 1rem;

  background-color: rgb(var(--dark-color-rgb) / 0.9);
}

.cNavigationPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cActionsPanel {
  display: flex;
  align-items: center;
}
