.cHeaderContainer {
  position: sticky;
  top: 0;
  z-index: 10;

  padding: 0.5rem 1rem;

  background-color: var(--dark-color);
}

.cNavigationPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.cActionsPanel {
  display: flex;
  align-items: center;
}
