.cBlock {
  display: flow-root;

  background-color: var(--dark-background-color);
}

.cArrivalsTitle {
  margin: 2rem 0 1rem 0;

  font-size: 2rem;
  font-weight: 100;
  font-family: Avenir, Helvetica, Arial, sans-serif;

  text-align: center;
  text-transform: capitalize;
  color: var(--accent-text-color);
}

@media screen and (min-width: 640px) {
  .cArrivalsTitle {
    font-size: 4.375rem;
  }
}
