.cBasketContainer {
  display: flex;
  align-items: flex-start;

  margin-left: 1rem;

  text-decoration: none;
}

.cProductsCount {
  display: inline-block;
  padding: 0.05em 0.4em;

  font-size: 0.8rem;
  font-weight: 700;

  border-radius: 50%;
  color: var(--dark-color);
  background-color: var(--accent-text-color);
}
